<div class="row row-cols-1 row-cols-md-3 g-4 animated fadeIn">
  <div (click)="getArtist(item)" *ngFor="let item of items" class="col pointer">
    <div class="card">
      <img
        [src]="item.images | noimage"
        class="card-img-top"
        [alt]="item.name"
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <span *ngFor="let artist of item.artists" class="badge bg-dark">{{
          artist.name
        }}</span>
      </div>
    </div>
  </div>
</div>
