<div class="row">
  <div class="col">
    <input
      #term
      (keyup)="search(term.value)"
      class="form-control"
      type="text"
      placeholder="Search artist"
    />
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div *ngFor="let artist of artists" class="col">
    <div class="card">
      <img
        [src]="artist.images | noimage"
        class="card-img-top"
        [alt]="artist.name"
      />
      <div class="card-body">
        <h5 class="card-title">{{ artist.name }}</h5>
      </div>
    </div>
  </div>
</div>
