<div class="row">
  <div class="col">
    <h1>*ngIf</h1>
    <hr />

    <div
      *ngIf="displayQuote"
      class="card text-white bg-primary mb-3"
      style="max-width: 100%"
    >
      <div class="card-body">
        <h5 class="card-title">{{ quote.author }}</h5>
        <p class="card-text">{{ quote.text }}</p>
      </div>
    </div>

    <div class="d-grid">
      <button
        (click)="displayQuote = !displayQuote"
        class="btn btn-outline-primary btn-block"
      >
        Mostrar/Ocultar
      </button>
    </div>
  </div>

  <div class="col">
    <h1>*ngFor</h1>
    <hr />

    <ul class="list-group">
      <li
        *ngFor="let character of characters; let i = index"
        class="list-group-item"
      >
        {{ i + 1 }} - {{ character }}
      </li>
    </ul>
  </div>
</div>
